

.nav-item, a {
    font-family: monospace;
    font-size: 15px;
    background:rgb(90, 37, 90)
}
p, ul {
    font-family: courier new;
    font-size: small;
}

.h2, h1{
    font-family: courier new;

}
.li {
    font-family: Courier New;
  }
.nav, a{
    background: rgb(90, 37, 90);
}



